#imglogo {
    border-radius: 20px;
}
#Cards-de-noticias {
    display: flex;
    justify-content: space-around;
}
#newsletterdiv {
    display: flex;
    justify-content: center;
}
nav {
    font-size: 20px;
}
h4 {
    padding-bottom: 450px;
}
article {
    background-color: #001235;
    color:#ffffff;
    text-align: center;
}
.video {
    width: auto;
    height: 50vh;
    justify-content: center;
    display: flex;
}