#imglogo {
    border-radius: 20px;
}
#Cards-de-noticias {
    display: flex;
    justify-content: space-around;
}
#newsletterdiv {
    display: flex;
    justify-content: center;
}
nav {
    font-size: 20px;
}
h4 {
    padding-bottom: 450px;
}